<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservations Page Wireframe</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
    <header>
      <div>
        Buckeye Bed & Breakfast logo
      </div>
      <div> 330-672-3031
        601 Turner Ave. Cambridge, OH 43725
      </div>
    /*hamburger nav*/
      <a href="#menu" class="menu-link">
      <div class="menu-link__hamburger">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <div class="menu-link__label">Menu</div>
  </a>
    <nav id="menu" role="navigation">
      <ul>
        <li><a href="java.js">Reservations</a></li>
        <li><a href="java.js">Packages</a></li>
        <li><a href="java.js">About</a></li>
        <li><a href="java.js">Rooms</a></li>
        <li><a href="java.js">Attractions</a></li>
        <li><a href="java.js">Blog</a></li>
        <li><a href="java.js">Awards</a></li>
      </ul>
    </nav>
    </header>
    <main>
      <h1>Reservations</h1>
      <form action="http://www.pretendserver.com"method="post">
        <table>
          <tbody>
            <th>April 2016</th>
            <tr>
              <td>

          </tbody>
        </table>
        
/*date picker*/
        <input id="date" name="date" />


    </main>
    <footer>
      <div>
        Buckeye Bed & Breakfast logo
      </div>
      <div> 330-672-3031
        601 Turner Ave. Cambridge, OH 43725
      </div>
    </footer>

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
      <script src="java.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<!-- Don't forget to include Jquery also -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  </body>
</html>
