<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reservations Page Wireframe</title>
    <meta name="description" content="Page Description Goes Here">
  </head>
  <body>
    <header>
      <div>
        Buckeye Bed & Breakfast logo
      </div>
      <div> 330-672-3031
        601 Turner Ave. Cambridge, OH 43725
      </div>
    /*hamburger nav*/
      <a href="#menu" class="menu-link">
      <div class="menu-link__hamburger">
          <span></span>
          <span></span>
          <span></span>
      </div>
      <div class="menu-link__label">Menu</div>
  </a>
    <nav id="menu" role="navigation">
      <ul>
        <li><a href="java.js">RESERVATIONS</a></li>
        <li><a href="java.js">PACKAGES</a></li>
        <li><a href="java.js">ABOUT</a></li>
        <li><a href="java.js">ROOMS</a></li>
        <li><a href="java.js">ATTRACTIONS</a></li>
        <li><a href="java.js">BLOG</a></li>
        <li><a href="java.js">AWARDS</a></li>
      </ul>
    </nav>
    </header>

        <main>

        Check In:
                <input id="date" name="date" />
        Check Out:
                <input id="date" name="date" /> 


                <h1>Reservations</h1>
              <form action="http://www.pretendserver.com"method="post">
                <table width="450" cellpadding="20" cellspacing="10">
                <table border="2" bgcolor=#ccccc"
                 <tr>
                   <th></th>
                    <th scope="col">Sunday</th>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                    <th scope="col">Saturday</th>
                  </tr>
                  <tr>
                    <th scope="row">Sweetheart Haven Room</th>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                  </tr>
                  <tr>
                    <th scope="row">Treetop Room</th>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                  </tr>
                    <th scope="row">Enchantment Room</th>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                   <tr>
                    <th scope="row">Out of Africa Room</th>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                    <td>AVAILABLE</td>
                  </tr>
                  </tbody>
                </table>
             </main>

    </main>
    <footer>
      <div>
        Buckeye Bed & Breakfast logo
      </div>
      <div> 330-672-3031
        601 Turner Ave. Cambridge, OH 43725
      </div>
    </footer>
    <!-- Include Modernizer at the end of your HTML file first, before all other JavaScript -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
            <!-- Don't forget to include Jquery also -->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
            <!-- Finally, add the JavaScript found in the JS section to your own file called scripts.js and add this into your HMTL -->

      <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
      <script src="java.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
  </body>
</html>
