
body {
  max-width: 1000px;
  padding: 1em;
  font-family: Arial,Helvetica, sans-serif;
}

svg {
  width: 80px;
  margin: 0 auto;

}

div, section, main, aside, header, footer {
  border: 1px solid lightgray;
  padding: .5em;
  margin-bottom: 1em;
}

header, footer {
  background-color: #61574B;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  padding: .5em;
  margin-bottom: 1em;
}


/*image slider*/
.carousel-cell {
    width: 100%;
}

.carousel-cell img {
    width: 100%;
    height: auto;
}

/* Ensures that Flickity waits until CSS has loaded to calculate the height of the cells */
.carousel:after {
  content: 'flickity';
  display: none; /* hide :after */
}

/*hamburger menu*/
a.menu-link {
        float: right;
            display: block;
            padding: 1em;
              width: 125px;
        }

/* Adds Code for Pure CSS Hamburger Button */

.menu-link__hamburger {
    margin: 0 auto;
    text-align: center;
    width: 33px;
    float: left;
    transform: translate(0,0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu-link__label {
    float: left;
    padding-left: .75em;
}

a.menu-link span {
  display: block;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px; /* Adjust the rounding of the hamburger here */
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

a.menu-link span:first-child {
  transform-origin: 0% 0%;
}


a.menu-link span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-link.active .menu-link__hamburger {
    transform: translate(10px, 0);
}

.menu-link.active span {
  opacity: 1;
    background: black;
  transform: rotate(45deg) translate(-2px, -1px);
}

.menu-link.active span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-link.active span:nth-child(3){
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

nav {
  background-color: #AD9378;
  color: white;
}

nav[role=navigation] {
            clear: both;
            -webkit-transition: all 0.3s ease-out;
            -moz-transition: all 0.3s ease-out;
            -ms-transition: all 0.3s ease-out;
            -o-transition: all 0.3s ease-out;
            transition: all 0.3s ease-out;
        }
        .js nav[role=navigation] {
            overflow: hidden;
            max-height: 0;
        }
        nav[role=navigation].active {
            max-height: 15em;
        }
        nav[role=navigation] ul {
            margin: 0;
            padding: 0;
            border-top: 1px solid #808080;
        }
        nav[role=navigation] li a {
            display: block;
            padding: 0.8em;
            border-bottom: 1px solid #808080;
        }

        @media screen and (min-width:800px) {
            a.menu-link {
               display: none;
            }
            .js nav[role=navigation] {
                max-height: none;
            }
            nav[role=navigation] ul {
                margin: 0 0 0 -0.25em;
                border: 0;
            }

            nav[role=navigation]  li {
                display: inline-block;
                margin: 0 0.25em;
            }
            nav[role=navigation] li a {
                border: 0;
            }
        }

        /*date picker*/
        @charset "UTF-8";

h1{
    font-size: 2.3em;
    letter-spacing: 1px;
    font-family: Georgia, Garamond, serif;
    font-weight: bold;
    margin-top: 2em;
    color: #61574B;
}

h2 {
  font-family: Georgia, Garamond, serif;
  font-weight: bold;
  color: #6297AB;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #6297AB;

}

aside{
  border: 3px solid #6297AB;
  padding: .5em;
  margin-bottom: 1em;
}



/* DATE PICKER
 * Pikaday
 * Copyright © 2014 David Bushell | BSD & MIT license | http://dbushell.com/
 */

.pika-single {
    z-index: 9999;
    display: block;
    position: relative;
    color: #333;
    background: #fff;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*
clear child float (pika-lendar), using the famous micro clearfix hack
http://nicolasgallagher.com/micro-clearfix-hack/
*/
.pika-single:before,
.pika-single:after {
    content: " ";
    display: table;
}
.pika-single:after { clear: both }
.pika-single { *zoom: 1 }

.pika-single.is-hidden {
    display: none;
}

.pika-single.is-bound {
    position: absolute;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,.5);
}

.pika-lendar {
    float: left;
    width: 240px;
    margin: 8px;
}

.pika-title {
    position: relative;
    text-align: center;
}

.pika-label {
    display: inline-block;
    *display: inline;
    position: relative;
    z-index: 9999;
    overflow: hidden;
    margin: 0;
    padding: 5px 3px;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    background-color: #fff;
}
.pika-title select {
    cursor: pointer;
    position: absolute;
    z-index: 9998;
    margin: 0;
    left: 0;
    top: 5px;
    filter: alpha(opacity=0);
    opacity: 0;
}

.pika-prev,
.pika-next {
    display: block;
    cursor: pointer;
    position: relative;
    outline: none;
    border: 0;
    padding: 0;
    width: 20px;
    height: 30px;
    /* hide text using text-indent trick, using width value (it's enough) */
    text-indent: 20px;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75% 75%;
    opacity: .5;
    *position: absolute;
    *top: 0;
}

.pika-prev:hover,
.pika-next:hover {
    opacity: 1;
}

.pika-prev,
.is-rtl .pika-next {
    float: left;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAUklEQVR42u3VMQoAIBADQf8Pgj+OD9hG2CtONJB2ymQkKe0HbwAP0xucDiQWARITIDEBEnMgMQ8S8+AqBIl6kKgHiXqQqAeJepBo/z38J/U0uAHlaBkBl9I4GwAAAABJRU5ErkJggg==');
    *left: 0;
}

.pika-next,
.is-rtl .pika-prev {
    float: right;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeCAYAAAAsEj5rAAAAU0lEQVR42u3VOwoAMAgE0dwfAnNjU26bYkBCFGwfiL9VVWoO+BJ4Gf3gtsEKKoFBNTCoCAYVwaAiGNQGMUHMkjGbgjk2mIONuXo0nC8XnCf1JXgArVIZAQh5TKYAAAAASUVORK5CYII=');
    *right: 0;
}

.pika-prev.is-disabled,
.pika-next.is-disabled {
    cursor: default;
    opacity: .2;
}

.pika-select {
    display: inline-block;
    *display: inline;
}

.pika-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 0;
}

.pika-table th,
.pika-table td {
    width: 14.285714285714286%;
    padding: 0;
}

.pika-table th {
    color: #999;
    font-size: 12px;
    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.pika-button {
    cursor: pointer;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: 0;
    margin: 0;
    width: 100%;
    padding: 5px;
    color: #666;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    background: #f5f5f5;
}

.pika-week {
    font-size: 11px;
    color: #999;
}

.is-today .pika-button {
    color: #33aaff;
    font-weight: bold;
}

.is-selected .pika-button {
    color: #fff;
    font-weight: bold;
    background: #33aaff;
    box-shadow: inset 0 1px 3px #178fe5;
    border-radius: 3px;
}

.is-inrange .pika-button {
    background: #D5E9F7;
}

.is-startrange .pika-button {
    color: #fff;
    background: #6CB31D;
    box-shadow: none;
    border-radius: 3px;
}

.is-endrange .pika-button {
    color: #fff;
    background: #33aaff;
    box-shadow: none;
    border-radius: 3px;
}

.is-disabled .pika-button {
    pointer-events: none;
    cursor: default;
    color: #999;
    opacity: .3;
}

.pika-button:hover {
    color: #fff;
    background: #ff8000;
    box-shadow: none;
    border-radius: 3px;
}

/* styling for abbr */
.pika-table abbr {
    border-bottom: none;
    cursor: help;
}


/*!
 * PikadayResponsive
 * A responsive datepicker built on top of Pikaday. It shows the native datepicker on mobile devices and a nice JS-picker on desktop.
 *
 * @author: Francesco Novy
 * @licence: MIT <http://www.opensource.org/licenses/mit-license.php>
 * @link https://github.com/mydea/PikadayResponsive
 * @copyright: (c) 2016
 * @version: 0.6.7
 */


.pikaday__container {
  display: inline-block;
  position: relative;
}

/* Height and width has to be equal! */
.pikaday__display, .pikaday__invisible {
  width: 100%;
}

.pikaday__display--native {
  pointer-events: none;
  cursor: pointer;
}

.pikaday__display.is-invalid {
  background: rgba(255, 0, 0, 0.05);
}

.pikaday__invisible {
  opacity: 0;
  color: transparent;
  background: transparent;
  border: none;
  box-shadow: none;
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
